@import url("./variables.css");
@import url("./preflight.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-2xl font-bold;
  }
}

/* Scrollbar styles */
* {
  scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-bg);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--color-scrollbar-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}
/* Scrollbar styles */

/* Animations */
@keyframes heartBeat {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
/* Animations */
