/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/* Remove the default font size and weight for headings. */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Reset links to optimize for opt-in styling instead of opt-out. */

a {
  color: inherit;
  text-decoration: inherit;
}

/* Remove the inheritance of text transform in Edge and Firefox. */

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button {
  background-color: inherit;
}

/* Correct the cursor style of increment and decrement buttons in Safari. */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  outline-offset: -2px; /* 2 */
  appearance: textfield; /* 1 */
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
