:root {
  --layout-header-bg: #fff;
  --layout-body-bg: #fcfcfc;
  --color-primary: #722ed1;
  --bg-primary: #fff;
}

.dark {
  --layout-header-bg: #000;
  --layout-body-bg: #111;
  --color-primary: #b37feb;
}
